.chat {
  padding: 12.5px 15%;
  text-align: left;
  border: 2px solid transparent;
  transition: border-color 0.5s, background 0.5s;
  cursor: pointer;
  display: grid;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
  color: opposite;
  position: relative;
}
.chat:not(:last-child):after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: -1px;
  right: 5%;
  height: 1px;
  background: #808080;
}
.chat:hover {
  background: #808080;
}
.chat.opened {
  background: dark-grey;
}
.chat.opened:after {
  background: transparent;
}
.chat.opened .meta .time {
  color: #fff;
}
.chat.opened .message .last-message {
  color: #fff;
}
.chat.public-post {
  background: primary;
  color: opposite;
  padding: 15px;
}
.chat.no-profile-picture {
  grid-template-columns: 0 80% 20%;
}
.chat.no-profile-picture .profile-picture {
  height: 0;
}
.chat .profile-picture {
  height: 100%;
  border-radius: 100%;
  position: relative;
}
.chat.unread .meta .name {
  font-weight: bold;
}
.chat.unread .message .last-message {
  font-weight: bold;
}
.chat .message,
.chat .meta {
  display: grid;
  grid-auto-rows: 50%;
  row-gap: 1.5px;
  margin: 7.5px;
  position: relative;
}
.chat .meta {
  justify-items: right;
}
.chat .meta .time {
  font-size: 0.9em;
  color: very-dark-grey;
  transition: color 0.5s;
}
.chat .meta .unread-messages {
  background: primary;
  border-radius: 50px;
  color: #fff;
  width: 1em;
  height: 1em;
  font-weight: 550;
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}
.chat .message {
  margin-left: 15px;
}
.chat .message .last-message {
  color: very-dark-grey;
  font-size: 0.9em;
  transition: color 0.5s;
}
