.app {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.app._app__search_user {
  display: block;
  text-align: center;
}
.app .sidebar {
  background: light-grey;
  position: relative;
  z-index: 4;
  display: inline-grid;
  grid-template-columns: auto auto;
  height: 100%;
}
.app .sidebar .details .expanded {
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: padding 1s, width 1s;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 30px 0;
}
.app .sidebar .details .expanded:not(.dont-expand).opened {
  width: 30vw;
}
.app .sidebar .icons {
  padding: 0 10px;
  display: inline-block;
  height: 100%;
  width: 8vw;
  max-width: 60px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}
.app .sidebar .icons .sidebar-button {
  text-align: center;
  margin: 15px;
  cursor: pointer;
  color: dark-grey;
  transition: color 0.5s;
}
.app .sidebar .icons .sidebar-button i {
  margin: 5px 0;
  font-size: 1.7em;
  font-weight: 550;
}
.app .sidebar .icons .sidebar-button:hover {
  color: opposite;
}
.app .sidebar .icons .sidebar-button.active {
  color: opposite;
}
.app .sidebar .details {
  text-align: center;
}
.app .sidebar .details .settings {
  position: relative;
}
.app .sidebar .details .settings .profile-picture {
  position: relative;
  margin-top: 5vh;
}
.app .sidebar .details .settings .profile-picture .picture-box {
  position: absolute;
  width: 10vw;
  max-width: 100px;
  left: 0;
  right: 0;
  margin: auto;
}
.app .sidebar .details .settings .profile-picture .picture-box i {
  padding: 5px;
  border-radius: 50%;
  background: #808080;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 5vh;
  cursor: pointer;
}
.app .sidebar .details .settings .profile-picture .picture-box .picture {
  padding-top: 100%;
  overflow: hidden;
  border: 2px solid very-dark-grey;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.app .sidebar .details .header {
  display: grid;
  grid-template-columns: auto fit-content(100%);
  align-items: center;
}
.app .sidebar .details .header h1,
.app .sidebar .details .header i.fa-search {
  display: inline-block;
}
.app .sidebar .details .header i.fa-search {
  cursor: pointer;
  font-size: 1.1em;
  transition: color 0.5s;
  color: opposite;
  margin: 0 50px 0 0;
}
.app .sidebar .details h1 {
  font-weight: 500;
  margin: 0;
}
.app .sidebar .chats {
  padding-top: 30px;
}
.app .sidebar .chats .chat {
  padding: 12.5px 15%;
  text-align: left;
  border: 2px solid transparent;
  transition: border-color 0.5s, background 0.5s;
  cursor: pointer;
  display: grid;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
  color: opposite;
  position: relative;
}
.app .sidebar .chats .chat:not(:last-child):after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: -1px;
  right: 5%;
  height: 1px;
  background: #808080;
}
.app .sidebar .chats .chat:hover {
  background: #808080;
}
.app .sidebar .chats .chat.opened {
  background: dark-grey;
}
.app .sidebar .chats .chat.opened:after {
  background: transparent;
}
.app .sidebar .chats .chat.opened .meta .time {
  color: #fff;
}
.app .sidebar .chats .chat.opened .message .last-message {
  color: #fff;
}
.app .sidebar .chats .chat.public-post {
  background: primary;
  color: opposite;
  padding: 15px;
}
.app .sidebar .chats .chat.no-profile-picture {
  grid-template-columns: 0 80% 20%;
}
.app .sidebar .chats .chat.no-profile-picture .profile-picture {
  height: 0;
}
.app .sidebar .chats .chat .profile-picture {
  height: 100%;
  border-radius: 100%;
  position: relative;
}
.app .sidebar .chats .chat.unread .meta .name {
  font-weight: bold;
}
.app .sidebar .chats .chat.unread .message .last-message {
  font-weight: bold;
}
.app .sidebar .chats .chat .message,
.app .sidebar .chats .chat .meta {
  display: grid;
  grid-auto-rows: 50%;
  row-gap: 1.5px;
  margin: 7.5px;
  position: relative;
}
.app .sidebar .chats .chat .meta {
  justify-items: right;
}
.app .sidebar .chats .chat .meta .time {
  font-size: 0.9em;
  color: very-dark-grey;
  transition: color 0.5s;
}
.app .sidebar .chats .chat .meta .unread-messages {
  background: primary;
  border-radius: 50px;
  color: #fff;
  width: 1em;
  height: 1em;
  font-weight: 550;
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}
.app .sidebar .chats .chat .message {
  margin-left: 15px;
}
.app .sidebar .chats .chat .message .last-message {
  color: very-dark-grey;
  font-size: 0.9em;
  transition: color 0.5s;
}
