.app
  width 100%
  height 100%
  display grid
  overflow hidden
  box-sizing border-box
  grid-template-columns 40% 60%

  &._app__search_user
    display block
    text-align center

  .sidebar
    background light-grey
    position relative
    z-index 4
    display inline-grid
    grid-template-rows fit-content(100%) fit-content(100%) fit-content(100%)
    height 100%
    overflow hidden

    .resizer
      position absolute
      top 0
      bottom 0
      right 0
      width 2px
      background very-dark-grey
      cursor grab

    .profile
      display inline-grid
      grid-template-columns fit-content(100%) auto fit-content(100%)
      align-items center
      margin 30px calc(20px + 5%) 20px 25px

      img.profile-picture
        height 7vh
        border-radius 100%
        display inline-block

      .meta
        display inline-grid
        grid-template-rows fit-content(100%) fit-content(100%)
        position relative
        margin-left 20px

        .id
          color very-dark-grey
          font-size .9em
          cursor pointer
          
          &:hover
            text-decoration underline

        .name
          font-size 1.2em
          margin-bottom 3px
          white-space nowrap
          display inline-grid
          grid-template-columns fit-content(100%) fit-content(100%)
          align-items center

          .name-options
            position relative

            i.fas.fa-chevron-down
              transition transform .5s
              margin-left 7.5px
              font-size .8em
              color very-dark-grey
              cursor pointer

              &.rotated
                transform rotate(180deg)

            .tooltip
              position absolute
              top 1.3em
              left 5px
              padding 10px 15px
              opacity 0
              transition opacity .5s

              &.visible
                opacity 1

              span
                font-size .8em
                cursor pointer
                display block
                margin 5px 0

                i
                  margin-right 3px

                &.red
                  color primary
                  font-weight bold

      .settings
        display inline-block
        cursor pointer
        color very-dark-grey
        transition color .5s

        &:hover
          color white

    .conversations
      .input-default
        margin 20px calc(20px + 5%) 10px 22.5px
      .new-chat
        position absolute
        bottom 20px
        right 20px
        cursor pointer
        background primary
        padding 12.5px
        font-size 1.4em
        border-radius 100%
        transition opacity .5s

        &:hover
          opacity .7

      .chats
        padding-top 5px
        margin 0 20px

