.chat
  padding 12.5px 45px 12.5px 0
  text-align left
  border 2px solid transparent
  transition border-color .5s, background .5s
  cursor pointer
  color opposite
  position relative
  border-radius 5px
  margin-right 5%

  &:before
    right -22.5px
    width 7.5px
    height 7.5px
    background transparent
    content ''
    position absolute
    top 0
    bottom 0
    margin auto 0
    border-radius 100%
    transition background .5s

  &:not(.opened)
    &:hover
      background grey

  &.opened
    &:before
      background very-dark-grey

    .meta
      .time
        color white

    .message
      .last-message
        color white

  &.no-profile-picture
    grid-template-columns 0 80% 20%

    .profile-picture
      height 0

  .profile-picture
    display inline-block
    height 5vh
    border-radius 100%
    position absolute
    top 0
    bottom 0
    margin auto 15px

  &.unread
    &:before
      background primary
    .meta
      .name
        font-weight bold
    .message
      .last-message
        font-weight bold

  .message, .meta
    margin 7.5px
    position relative

  .meta
    display inline-grid
    position absolute
    top 7.5px
    bottom 7.5px
    right 10px
    justify-items right

    .time
      font-size .9em
      color very-dark-grey
      transition color .5s

    .unread-messages
      color white
      font-weight 550
      text-align center
      font-size .8em
      padding 1px
  .message
    margin-left:calc(5vh + 30px)
    display inline-grid

    .name
      font-weight bold

    .last-message
      color very-dark-grey
      font-size .9em
      transition color .5s