.modal, .curtain
  opacity 0
  transition opacity .5s
  pointer-events none

  &.curtain
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background black
    z-index 10

    &.visible
      opacity .6
      pointer-events all

  &.modal
    left 50%
    transform translateX(-50%) translateY(-60%)
    position absolute
    background bg
    border-radius 5px
    z-index 11
    padding 15px 30px
    min-width 250px
    text-align left
    top 50%

    .item
      display block
      margin 10px 0
    .center
      text-align center

    .right, .buttons
      text-align right

      &.buttons
        margin 12.5px 0
        padding 7.5px

        a
          margin 0 5px
    .text
      img:not(.profile-picture)
        border-radius 5px
      .profile-picture-text
        margin-bottom 25px

    .header
      font-size 1.3em
      font-weight 550

    &.visible
      opacity 1
      pointer-events all
