.resend
  .chat
    padding 12.5px 10px 12.5px 10px
    border-radius 5px
    transition border-color .5s
    margin 10px 0

    &.selected
      border-color primary

      &:hover
        background transparent

      &:after
        z-index -1