.button {
  padding: 15px 35px;
  background: gradient;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  transition: opacity 0.5s;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9em;
  max-width: 300px;
  width: 100%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  opacity: 1;
  box-sizing: border-box;
}
.button:hover {
  opacity: 0.8;
}
.button.disabled {
  background: very-dark-grey;
  cursor: default;
  pointer-events: none;
}
