.button-small
  padding 10px 7.5px
  color dark-white
  transition background .5s, color .5s
  border-radius 5px
  box-sizing border-box
  background transparent
  font-size .9em
  cursor pointer
  display inline-block
  margin 0 5px

  &.big
    font-size 1em

  &.active
    background grey

  &:not(.disabled):hover
    background grey
    color white

  &.active:not(.disabled):hover
    color dark-white

  &.red
    color rose

    &:hover
      color rose

  &.disabled
    color dark-white
    pointer-events none
