.button-round
  display inline-block
  padding 10px
  background dark-grey
  border-radius 100%
  cursor pointer
  font-size 1.3em
  transition background .3s

  &:hover
    background very-dark-grey

  &.primary
    background primary

    &:hover
      background dark-primary

  &.inactive, &.primary.inactive
    background grey
    pointer-events none

    &:hover
      background grey