.copy-field i,
.copy-field .input-default {
  display: inline-block;
}
.copy-field i.input-default,
.copy-field .input-default.input-default {
  padding: 10px 15px;
}
.copy-field i {
  cursor: pointer;
}
