.input-switch
  position relative
  display flex
  justify-content center

  .text
    font-size .9em
  .switch
    width 25px
    height 7.5px
    display inline-block
    position relative
    margin auto 10px

    input[type="checkbox"]
      opacity 0
      width 0
      height 0

    .slider
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background very-dark-grey
      border-radius 100px
      transition background-color .5s

      &:before
        position absolute
        content ''
        height 10px
        width 10px
        background-color opposite
        border-radius 100px
        left 0
        top 50%
        transform translateY(-50%)
        transition left .5s

    input[type="checkbox"]:checked + .slider:before
      left calc(100% - 10px)
    input[type="checkbox"]:checked + .slider
      background-color primary