.input
  display block
  width 100%
  margin 20px auto
  color very-dark-grey
  position relative
  cursor text
  text-align left
  max-width 375px

  &:after
    content ''
    position absolute
    bottom 0
    height 2px
    background very-dark-grey
    left 0
    right 0
    transition background .5s
    pointer-events none

  &.input:before
    pointer-events none
    position absolute
    color very-dark-grey
    top 50%
    transform translateY(-40%)
    left 10px
    transition top .5s, color .5s

  &.verified


  &.input.name:before
    content 'Name'

  &.input.bug-input:before
    content 'Bug'

  &.input.password:before
    content 'Passwort'

  input
    border 0 transparent none
    background transparent
    height 50px
    font-size 1.2em
    width 90%
    padding-left 10px
    color opposite

  &.focus:after
    background primary

  &.focus
    .tooltip.visible
      opacity 1

  &.focus:before, &.filled:before
    top 0

  &.focus:before
    color primary