.input-checkbox
  input[type="checkbox"]
    display none

  input[type="checkbox"]:checked + label
    i
      opacity 1

  label
    position relative
    margin-left calc(0.9em + 10px)
    cursor pointer

    &:before
      content ''
      width .9em
      height .9em
      border 2px solid dark-grey
      border-radius 5px
      position absolute
      left calc(-.9em - 10px)

    i
      color opposite
      font-size .8em
      opacity 0
      position absolute
      left calc(-.9em - 10px)
      bottom 0