.modal,
.curtain {
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.modal.curtain,
.curtain.curtain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 10;
}
.modal.curtain.visible,
.curtain.curtain.visible {
  opacity: 0.6;
  pointer-events: all;
}
.modal.modal,
.curtain.modal {
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  position: absolute;
  background: bg;
  border-radius: 5px;
  z-index: 11;
  padding: 15px 30px;
  min-width: 250px;
  text-align: left;
  top: 50%;
}
.modal.modal .item,
.curtain.modal .item {
  display: block;
  margin: 10px 0;
}
.modal.modal .center,
.curtain.modal .center {
  text-align: center;
}
.modal.modal .right,
.curtain.modal .right,
.modal.modal .buttons,
.curtain.modal .buttons {
  text-align: right;
}
.modal.modal .right.buttons,
.curtain.modal .right.buttons,
.modal.modal .buttons.buttons,
.curtain.modal .buttons.buttons {
  margin: 12.5px 0;
  padding: 7.5px;
}
.modal.modal .right.buttons a,
.curtain.modal .right.buttons a,
.modal.modal .buttons.buttons a,
.curtain.modal .buttons.buttons a {
  margin: 0 5px;
}
.modal.modal .text img,
.curtain.modal .text img {
  border-radius: 5px;
}
.modal.modal .text .profile-picture-text,
.curtain.modal .text .profile-picture-text {
  margin-bottom: 25px;
}
.modal.modal .header,
.curtain.modal .header {
  font-size: 1.3em;
  font-weight: 550;
}
.modal.modal.visible,
.curtain.modal.visible {
  opacity: 1;
  pointer-events: all;
}
