.preview-chat
  position relative
  overflow hidden
  width 100%
  display grid
  grid-template-rows fit-content(100%) auto fit-content(100%)

  .new-message
    padding 7.5px
    background bg
    display grid
    align-items center
    grid-template-columns fit-content(100%) auto fit-content(100%)

    input
      background grey
      padding 15px
      border 1px solid transparent
      border-radius 5px
      display inline-block
      color opposite
      margin 0 10px 0 0

    i
      background gradient
      font-size 1.2em
      color white
      border-radius 100px
      padding 7.5px
      cursor pointer
      margin 0 10px 0 0
      transition background .5s
      background grey

      &:hover
        background dark-grey

      &.send-button
        &.record
          padding 7.5px 10px
          &:before
            content "\f130"
        &:not(.record)
          &:before
            content "\f1d8"
          background primary

          &:hover
            background dark-primary
  .messages-chat
    display flex
    flex-direction column
    padding 30px
    box-sizing border-box
    max-height 100%
    overflow hidden auto
    position relative

    .no-messages
      margin auto
      text-align center

      video
        width 22.5vw
        max-width 220px

      h1, p
        font-weight 400

      h1
        font-size 1.8em

      p
        color very-dark-grey

    i
      color very-dark-grey
      text-align right
      margin-right 10px
      font-size 1.1em
      margin-top 5px

    &::-webkit-scrollbar
      width 7.5px
    &::-webkit-scrollbar-track-piece
      opacity 0
    &::-webkit-scrollbar-thumb
      background dark-grey
      border-radius 100px

      &:hover
        background very-dark-grey

    .public-post
      text-align center

      .public-post-wrapper
        background dark-grey
        display inline-block
        border-radius 5px
        margin 12.5px 0
        min-width 30%

        .main-public-post
          padding 10px
          font-weight bold

        .meta
          background grey
          padding 5px
          font-size .8em
          border-radius 0 3px

          i.fas.fa-heart
            color rose

    .message
      display grid
      max-width 60%
      cursor pointer
      margin 7.5px 0
      grid-template-columns auto auto
      position relative

      &.audio
        .message-content
          .audio
            pointer-events all

            .audio-controls
              display grid
              background grey
              border-radius 5px
              padding 10px 10px 15px 10px
              pointer-events all
              align-items center
              grid-template-columns fit-content(100%) auto auto

              span
                border-radius 0
                padding 0
                position absolute
                background transparent
                box-shadow none
                bottom 5px
                font-size .9em

                &.audio-time
                  right 10px
              .audio-status
                width 20vw
                background very-dark-grey
                margin 0 10px
                border-radius 50px
                height 5px
                position relative

                .timer
                  position absolute
                  top 50%
                  transform translateY(-50%)
                  width 7.5px
                  height 7.5px
                  background primary
                  left 0
                  border-radius 100%

              .play-button
                color opposite
                background primary
                border-radius 100%
                padding 7.5px 8px
                margin 0

                &:before
                  content "\f04b"
              &.playing
                .play-button:before
                  content "\f04c"
      &.image
        .message-content
          text-align right

          img
            width 70%
            border-radius 5px
            pointer-events all

      .input-checkbox
        display inline-block
        position absolute
        top 50%
        transform translateY(-50%)
        z-index 0
        opacity 0
        transition opacity .3s

        i
          color white

        label:before
          top 0

      .message-content
        position relative
        display inline-block
        transition margin .5s
        z-index 1

      &.left
        justify-content left
        margin-right 40%

        .input-checkbox
          left 0

        span
          background grey
          border-radius 17.5px
          color opposite

      &.right
        justify-content right
        margin-left 40%

        .input-checkbox
          right 0

        span
          background gradient
          color white
          border-radius 20px

      span, img
        transition margin .5s

      span
        padding 10px
        margin 0 5px
        box-shadow 3px 0 20px 5px rgba(0, 0, 0, 0.07)
        word-break auto
        cursor pointer
        transition margin .5s
        display inline-block

        a
          color opposite
          font-weight 550

  &.select
    .messages-chat
      .message
        .input-checkbox
          opacity 1
        &.left
          .message-content
            margin-left 30px
        &.right
          .message-content
            margin-right 30px

  .header-chat
    padding 15px
    cursor pointer
    background bg
    border-radius 5px
    position relative
    box-shadow 0 0 20px 5px rgba(0,0,0,0.2)
    display inline-grid
    grid-template-columns fit-content(100%) auto

    i
      display none

    .select-options
      display none
      text-align right

      i
        margin 0 10px
        cursor pointer
        font-size 1.2em
        display none

        &.visible
          display inline-block

        &.fas.fa-share
          transform rotateY(180deg)

    .name
      font-size 1.2em
      position relative

      &.online:after
        background green

      &.offline:after
        background rose

      &:after
        content ''
        transition background .5s
        position absolute
        height 7.5px
        width 7.5px
        right -15px
        top 0
        bottom 0
        margin auto
        border-radius 100%
        background transparent
  &.select
    .header-chat
      i.return-button
        opacity 0
      .name
        opacity 0
      .select-options
        display inline-block