.preview-chat {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: fit-content(100%) auto fit-content(100%);
}
.preview-chat .new-message {
  padding: 7.5px;
  background: bg;
  display: grid;
  align-items: center;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
}
.preview-chat .new-message input {
  background: #808080;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  color: opposite;
  margin: 0 10px 0 0;
}
.preview-chat .new-message i {
  background: gradient;
  font-size: 1.2em;
  color: #fff;
  border-radius: 100px;
  padding: 7.5px;
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: background 0.5s;
  background: #808080;
}
.preview-chat .new-message i:hover {
  background: dark-grey;
}
.preview-chat .new-message i.send-button.record {
  padding: 7.5px 10px;
}
.preview-chat .new-message i.send-button.record:before {
  content: "\f130";
}
.preview-chat .new-message i.send-button:not(.record) {
  background: primary;
}
.preview-chat .new-message i.send-button:not(.record):before {
  content: "\f1d8";
}
.preview-chat .new-message i.send-button:not(.record):hover {
  background: dark-primary;
}
.preview-chat .messages-chat {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden auto;
  position: relative;
}
.preview-chat .messages-chat .no-messages {
  margin: auto;
  text-align: center;
}
.preview-chat .messages-chat .no-messages video {
  width: 22.5vw;
  max-width: 220px;
}
.preview-chat .messages-chat .no-messages h1,
.preview-chat .messages-chat .no-messages p {
  font-weight: 400;
}
.preview-chat .messages-chat .no-messages h1 {
  font-size: 1.8em;
}
.preview-chat .messages-chat .no-messages p {
  color: very-dark-grey;
}
.preview-chat .messages-chat i {
  color: very-dark-grey;
  text-align: right;
  margin-right: 10px;
  font-size: 1.1em;
  margin-top: 5px;
}
.preview-chat .messages-chat::-webkit-scrollbar {
  width: 7.5px;
}
.preview-chat .messages-chat::-webkit-scrollbar-track-piece {
  opacity: 0;
}
.preview-chat .messages-chat::-webkit-scrollbar-thumb {
  background: dark-grey;
  border-radius: 100px;
}
.preview-chat .messages-chat::-webkit-scrollbar-thumb:hover {
  background: very-dark-grey;
}
.preview-chat .messages-chat .public-post {
  text-align: center;
}
.preview-chat .messages-chat .public-post .public-post-wrapper {
  background: dark-grey;
  display: inline-block;
  border-radius: 5px;
  margin: 12.5px 0;
  min-width: 30%;
}
.preview-chat .messages-chat .public-post .public-post-wrapper .main-public-post {
  padding: 10px;
  font-weight: bold;
}
.preview-chat .messages-chat .public-post .public-post-wrapper .meta {
  background: #808080;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 0 3px;
}
.preview-chat .messages-chat .public-post .public-post-wrapper .meta i.fas.fa-heart {
  color: rose;
}
.preview-chat .messages-chat .message {
  display: grid;
  max-width: 60%;
  cursor: pointer;
  margin: 7.5px 0;
  grid-template-columns: auto auto;
  position: relative;
}
.preview-chat .messages-chat .message.audio .message-content .audio {
  pointer-events: all;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls {
  display: grid;
  background: #808080;
  border-radius: 5px;
  padding: 10px 10px 15px 10px;
  pointer-events: all;
  align-items: center;
  grid-template-columns: fit-content(100%) auto auto;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls span {
  border-radius: 0;
  padding: 0;
  position: absolute;
  background: transparent;
  box-shadow: none;
  bottom: 5px;
  font-size: 0.9em;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls span.audio-time {
  right: 10px;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .audio-status {
  width: 20vw;
  background: very-dark-grey;
  margin: 0 10px;
  border-radius: 50px;
  height: 5px;
  position: relative;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .audio-status .timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7.5px;
  height: 7.5px;
  background: primary;
  left: 0;
  border-radius: 100%;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .play-button {
  color: opposite;
  background: primary;
  border-radius: 100%;
  padding: 7.5px 8px;
  margin: 0;
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .play-button:before {
  content: "\f04b";
}
.preview-chat .messages-chat .message.audio .message-content .audio .audio-controls.playing .play-button:before {
  content: "\f04c";
}
.preview-chat .messages-chat .message.image .message-content {
  text-align: right;
}
.preview-chat .messages-chat .message.image .message-content img {
  width: 70%;
  border-radius: 5px;
  pointer-events: all;
}
.preview-chat .messages-chat .message .input-checkbox {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.preview-chat .messages-chat .message .input-checkbox i {
  color: #fff;
}
.preview-chat .messages-chat .message .input-checkbox label:before {
  top: 0;
}
.preview-chat .messages-chat .message .message-content {
  position: relative;
  display: inline-block;
  transition: margin 0.5s;
  z-index: 1;
}
.preview-chat .messages-chat .message.left {
  justify-content: left;
  margin-right: 40%;
}
.preview-chat .messages-chat .message.left .input-checkbox {
  left: 0;
}
.preview-chat .messages-chat .message.left span {
  background: #808080;
  border-radius: 17.5px;
  color: opposite;
}
.preview-chat .messages-chat .message.right {
  justify-content: right;
  margin-left: 40%;
}
.preview-chat .messages-chat .message.right .input-checkbox {
  right: 0;
}
.preview-chat .messages-chat .message.right span {
  background: gradient;
  color: #fff;
  border-radius: 20px;
}
.preview-chat .messages-chat .message span,
.preview-chat .messages-chat .message img {
  transition: margin 0.5s;
}
.preview-chat .messages-chat .message span {
  padding: 10px;
  margin: 0 5px;
  box-shadow: 3px 0 20px 5px rgba(0,0,0,0.07);
  word-break: auto;
  cursor: pointer;
  transition: margin 0.5s;
  display: inline-block;
}
.preview-chat .messages-chat .message span a {
  color: opposite;
  font-weight: 550;
}
.preview-chat.select .messages-chat .message .input-checkbox {
  opacity: 1;
}
.preview-chat.select .messages-chat .message.left .message-content {
  margin-left: 30px;
}
.preview-chat.select .messages-chat .message.right .message-content {
  margin-right: 30px;
}
.preview-chat .header-chat {
  padding: 15px;
  cursor: pointer;
  background: bg;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
  display: inline-grid;
  grid-template-columns: fit-content(100%) auto;
}
.preview-chat .header-chat i {
  display: none;
}
.preview-chat .header-chat .select-options {
  display: none;
  text-align: right;
}
.preview-chat .header-chat .select-options i {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}
.preview-chat .header-chat .select-options i.visible {
  display: inline-block;
}
.preview-chat .header-chat .select-options i.fas.fa-share {
  transform: rotateY(180deg);
}
.preview-chat .header-chat .name {
  font-size: 1.2em;
  position: relative;
}
.preview-chat .header-chat .name.online:after {
  background: #008000;
}
.preview-chat .header-chat .name.offline:after {
  background: rose;
}
.preview-chat .header-chat .name:after {
  content: '';
  transition: background 0.5s;
  position: absolute;
  height: 7.5px;
  width: 7.5px;
  right: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
}
.preview-chat.select .header-chat i.return-button {
  opacity: 0;
}
.preview-chat.select .header-chat .name {
  opacity: 0;
}
.preview-chat.select .header-chat .select-options {
  display: inline-block;
}
