@charset "UTF-8";
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  background: #14161d;
}
html body .bug {
  position: absolute;
  padding: 10px;
  background: #333a49;
  border-radius: 100px;
  left: 15px;
  bottom: 15px;
  z-index: 20;
  cursor: pointer;
  transition: background-color 0.5s;
}
html body .bug.active {
  background-color: #ff0051;
}
html body .bug:hover {
  background-color: #ff0051;
}
html body .bug i {
  font-size: 1.2em;
}
html body h {
  color: #ff0051;
  font-weight: bold;
}
html body .preload {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #14161d;
  opacity: 1;
  pointer-events: all;
}
html body .preload.transitions {
  transition-delay: 0.5s;
  transition: opacity 0.5s;
}
html body .preload.invisible {
  opacity: 0;
  pointer-events: none;
}
html body .preload.invisible img {
  opacity: 0;
}
html body .preload img {
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100px;
  transition: opacity 0.5s;
}
html body *.hidden {
  display: none !important;
}
html body input {
  outline: none;
}
html body form {
  margin: 0;
  display: inline;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
html {
  font-family: "Open Sans", sans-serif;
}
html body {
  color: #fff;
}
html body a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
  color: #ff0051;
}
html body a:not(.button):not(.button-small):hover {
  color: #ba003b !important;
}
html body h1,
html body h2 {
  font-weight: 550;
}
html body h1 {
  font-size: 2.2em;
}
html body h2 {
  font-size: 1.9em;
}
html body.experimental .button {
  background: linear-gradient(45deg, #ff0051, #5f27cd);
  transition: opacity 0.5s;
}
html body.experimental .button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);
  background: linear-gradient(45deg, #ff0051, #5f27cd);
}
html body .modal,
html body .curtain {
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
html body .modal.curtain,
html body .curtain.curtain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 10;
}
html body .modal.curtain.visible,
html body .curtain.curtain.visible {
  opacity: 0.6;
  pointer-events: all;
}
html body .modal.modal,
html body .curtain.modal {
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  position: absolute;
  background: #14161d;
  border-radius: 5px;
  z-index: 11;
  padding: 15px 30px;
  min-width: 250px;
  text-align: left;
  top: 50%;
}
html body .modal.modal .item,
html body .curtain.modal .item {
  display: block;
  margin: 10px 0;
}
html body .modal.modal .center,
html body .curtain.modal .center {
  text-align: center;
}
html body .modal.modal .right,
html body .curtain.modal .right,
html body .modal.modal .buttons,
html body .curtain.modal .buttons {
  text-align: right;
}
html body .modal.modal .right.buttons,
html body .curtain.modal .right.buttons,
html body .modal.modal .buttons.buttons,
html body .curtain.modal .buttons.buttons {
  margin: 12.5px 0;
  padding: 7.5px;
}
html body .modal.modal .right.buttons a,
html body .curtain.modal .right.buttons a,
html body .modal.modal .buttons.buttons a,
html body .curtain.modal .buttons.buttons a {
  margin: 0 5px;
}
html body .modal.modal .text img:not(.profile-picture),
html body .curtain.modal .text img:not(.profile-picture) {
  border-radius: 5px;
}
html body .modal.modal .text .profile-picture-text,
html body .curtain.modal .text .profile-picture-text {
  margin-bottom: 25px;
}
html body .modal.modal .header,
html body .curtain.modal .header {
  font-size: 1.3em;
  font-weight: 550;
}
html body .modal.modal.visible,
html body .curtain.modal.visible {
  opacity: 1;
  pointer-events: all;
}
html body .preview-chat {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: fit-content(100%) auto fit-content(100%);
}
html body .preview-chat .new-message {
  padding: 7.5px;
  background: #14161d;
  display: grid;
  align-items: center;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
}
html body .preview-chat .new-message input {
  background: #202530;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  margin: 0 10px 0 0;
}
html body .preview-chat .new-message i {
  background: linear-gradient(45deg, #ba003b, #ff0051);
  font-size: 1.2em;
  color: #fff;
  border-radius: 100px;
  padding: 7.5px;
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: background 0.5s;
  background: #202530;
}
html body .preview-chat .new-message i:hover {
  background: #252c38;
}
html body .preview-chat .new-message i.send-button.record {
  padding: 7.5px 10px;
}
html body .preview-chat .new-message i.send-button.record:before {
  content: "\f130";
}
html body .preview-chat .new-message i.send-button:not(.record) {
  background: #ff0051;
}
html body .preview-chat .new-message i.send-button:not(.record):before {
  content: "\f1d8";
}
html body .preview-chat .new-message i.send-button:not(.record):hover {
  background: #ba003b;
}
html body .preview-chat .messages-chat {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden auto;
  position: relative;
}
html body .preview-chat .messages-chat .no-messages {
  margin: auto;
  text-align: center;
}
html body .preview-chat .messages-chat .no-messages video {
  width: 22.5vw;
  max-width: 220px;
}
html body .preview-chat .messages-chat .no-messages h1,
html body .preview-chat .messages-chat .no-messages p {
  font-weight: 400;
}
html body .preview-chat .messages-chat .no-messages h1 {
  font-size: 1.8em;
}
html body .preview-chat .messages-chat .no-messages p {
  color: #333a49;
}
html body .preview-chat .messages-chat i {
  color: #333a49;
  text-align: right;
  margin-right: 10px;
  font-size: 1.1em;
  margin-top: 5px;
}
html body .preview-chat .messages-chat::-webkit-scrollbar {
  width: 7.5px;
}
html body .preview-chat .messages-chat::-webkit-scrollbar-track-piece {
  opacity: 0;
}
html body .preview-chat .messages-chat::-webkit-scrollbar-thumb {
  background: #252c38;
  border-radius: 100px;
}
html body .preview-chat .messages-chat::-webkit-scrollbar-thumb:hover {
  background: #333a49;
}
html body .preview-chat .messages-chat .public-post {
  text-align: center;
}
html body .preview-chat .messages-chat .public-post .public-post-wrapper {
  background: #252c38;
  display: inline-block;
  border-radius: 5px;
  margin: 12.5px 0;
  min-width: 30%;
}
html body .preview-chat .messages-chat .public-post .public-post-wrapper .main-public-post {
  padding: 10px;
  font-weight: bold;
}
html body .preview-chat .messages-chat .public-post .public-post-wrapper .meta {
  background: #202530;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 0 3px;
}
html body .preview-chat .messages-chat .public-post .public-post-wrapper .meta i.fas.fa-heart {
  color: #ff0051;
}
html body .preview-chat .messages-chat .message {
  display: grid;
  max-width: 60%;
  cursor: pointer;
  margin: 7.5px 0;
  grid-template-columns: auto auto;
  position: relative;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio {
  pointer-events: all;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls {
  display: grid;
  background: #202530;
  border-radius: 5px;
  padding: 10px 10px 15px 10px;
  pointer-events: all;
  align-items: center;
  grid-template-columns: fit-content(100%) auto auto;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls span {
  border-radius: 0;
  padding: 0;
  position: absolute;
  background: transparent;
  box-shadow: none;
  bottom: 5px;
  font-size: 0.9em;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls span.audio-time {
  right: 10px;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .audio-status {
  width: 20vw;
  background: #333a49;
  margin: 0 10px;
  border-radius: 50px;
  height: 5px;
  position: relative;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .audio-status .timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7.5px;
  height: 7.5px;
  background: #ff0051;
  left: 0;
  border-radius: 100%;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .play-button {
  color: #fff;
  background: #ff0051;
  border-radius: 100%;
  padding: 7.5px 8px;
  margin: 0;
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls .play-button:before {
  content: "\f04b";
}
html body .preview-chat .messages-chat .message.audio .message-content .audio .audio-controls.playing .play-button:before {
  content: "\f04c";
}
html body .preview-chat .messages-chat .message.image .message-content {
  text-align: right;
}
html body .preview-chat .messages-chat .message.image .message-content img {
  width: 70%;
  border-radius: 5px;
  pointer-events: all;
}
html body .preview-chat .messages-chat .message .input-checkbox {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
html body .preview-chat .messages-chat .message .input-checkbox i {
  color: #fff;
}
html body .preview-chat .messages-chat .message .input-checkbox label:before {
  top: 0;
}
html body .preview-chat .messages-chat .message .message-content {
  position: relative;
  display: inline-block;
  transition: margin 0.5s;
  z-index: 1;
}
html body .preview-chat .messages-chat .message.left {
  justify-content: left;
  margin-right: 40%;
}
html body .preview-chat .messages-chat .message.left .input-checkbox {
  left: 0;
}
html body .preview-chat .messages-chat .message.left span {
  background: #202530;
  border-radius: 17.5px;
  color: #fff;
}
html body .preview-chat .messages-chat .message.right {
  justify-content: right;
  margin-left: 40%;
}
html body .preview-chat .messages-chat .message.right .input-checkbox {
  right: 0;
}
html body .preview-chat .messages-chat .message.right span {
  background: linear-gradient(45deg, #ba003b, #ff0051);
  color: #fff;
  border-radius: 20px;
}
html body .preview-chat .messages-chat .message span,
html body .preview-chat .messages-chat .message img {
  transition: margin 0.5s;
}
html body .preview-chat .messages-chat .message span {
  padding: 10px;
  margin: 0 5px;
  box-shadow: 3px 0 20px 5px rgba(0,0,0,0.07);
  word-break: auto;
  cursor: pointer;
  transition: margin 0.5s;
  display: inline-block;
}
html body .preview-chat .messages-chat .message span a {
  color: #fff;
  font-weight: 550;
}
html body .preview-chat.select .messages-chat .message .input-checkbox {
  opacity: 1;
}
html body .preview-chat.select .messages-chat .message.left .message-content {
  margin-left: 30px;
}
html body .preview-chat.select .messages-chat .message.right .message-content {
  margin-right: 30px;
}
html body .preview-chat .header-chat {
  padding: 15px;
  cursor: pointer;
  background: #202530;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
  display: inline-grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  margin: 10px;
  align-items: center;
}
html body .preview-chat .header-chat .chat-profile-picture {
  height: 4vh;
  border-radius: 100%;
}
html body .preview-chat .header-chat i {
  display: none;
}
html body .preview-chat .header-chat .select-options {
  display: none;
  text-align: right;
}
html body .preview-chat .header-chat .select-options i {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}
html body .preview-chat .header-chat .select-options i.visible {
  display: inline-block;
}
html body .preview-chat .header-chat .select-options i.fas.fa-share {
  transform: rotateY(180deg);
}
html body .preview-chat .header-chat .name {
  font-size: 1.2em;
  position: relative;
  margin-left: 10px;
}
html body .preview-chat .header-chat .name.online:after {
  background: #58af9b;
}
html body .preview-chat .header-chat .name.offline:after {
  background: #ff0051;
}
html body .preview-chat .header-chat .name:after {
  content: '';
  transition: background 0.5s;
  position: absolute;
  height: 7.5px;
  width: 7.5px;
  right: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
}
html body .preview-chat.select .header-chat i.return-button {
  opacity: 0;
}
html body .preview-chat.select .header-chat .name {
  opacity: 0;
}
html body .preview-chat.select .header-chat .select-options {
  display: inline-block;
}
html body .chat {
  padding: 12.5px 45px 12.5px 0;
  text-align: left;
  border: 2px solid transparent;
  transition: border-color 0.5s, background 0.5s;
  cursor: pointer;
  color: #fff;
  position: relative;
  border-radius: 5px;
  margin-right: 5%;
}
html body .chat:before {
  right: -22.5px;
  width: 7.5px;
  height: 7.5px;
  background: transparent;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 100%;
  transition: background 0.5s;
}
html body .chat:not(.opened):hover {
  background: #202530;
}
html body .chat.opened:before {
  background: #333a49;
}
html body .chat.opened .meta .time {
  color: #fff;
}
html body .chat.opened .message .last-message {
  color: #fff;
}
html body .chat.no-profile-picture {
  grid-template-columns: 0 80% 20%;
}
html body .chat.no-profile-picture .profile-picture {
  height: 0;
}
html body .chat .profile-picture {
  display: inline-block;
  height: 5vh;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 15px;
}
html body .chat.unread:before {
  background: #ff0051;
}
html body .chat.unread .meta .name {
  font-weight: bold;
}
html body .chat.unread .message .last-message {
  font-weight: bold;
}
html body .chat .message,
html body .chat .meta {
  margin: 7.5px;
  position: relative;
}
html body .chat .meta {
  display: inline-grid;
  position: absolute;
  top: 7.5px;
  bottom: 7.5px;
  right: 10px;
  justify-items: right;
}
html body .chat .meta .time {
  font-size: 0.9em;
  color: #333a49;
  transition: color 0.5s;
}
html body .chat .meta .unread-messages {
  color: #fff;
  font-weight: 550;
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}
html body .chat .message {
  margin-left: calc(5vh + 30px);
  display: inline-grid;
}
html body .chat .message .name {
  font-weight: bold;
}
html body .chat .message .last-message {
  color: #333a49;
  font-size: 0.9em;
  transition: color 0.5s;
}
html body .resend .chat {
  padding: 12.5px 10px 12.5px 10px;
  border-radius: 5px;
  transition: border-color 0.5s;
  margin: 10px 0;
}
html body .resend .chat.selected {
  border-color: #ff0051;
}
html body .resend .chat.selected:hover {
  background: transparent;
}
html body .resend .chat.selected:after {
  z-index: -1;
}
html body .button {
  padding: 15px 35px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9em;
  max-width: 300px;
  background: #ff0051;
  width: 90%;
  opacity: 1;
  box-sizing: border-box;
  transition: opacity 0.5s, background-color 0.5s;
  cursor: pointer;
}
html body .button i {
  margin-left: 10px;
  transition: transform 0.3s;
  transform: translateX(0);
}
html body .button:hover {
  opacity: 0.8;
}
html body .button:hover i {
  transform: translateX(5px);
}
html body .button.disabled {
  background: #333a49;
  cursor: default;
  pointer-events: none;
}
html body .button-round {
  display: inline-block;
  padding: 10px;
  background: #252c38;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.3em;
  transition: background 0.3s;
}
html body .button-round:hover {
  background: #333a49;
}
html body .button-round.primary {
  background: #ff0051;
}
html body .button-round.primary:hover {
  background: #ba003b;
}
html body .button-round.inactive,
html body .button-round.primary.inactive {
  background: #202530;
  pointer-events: none;
}
html body .button-round.inactive:hover,
html body .button-round.primary.inactive:hover {
  background: #202530;
}
html body .button-small {
  padding: 10px 7.5px;
  color: #3d4555;
  transition: background 0.5s, color 0.5s;
  border-radius: 5px;
  box-sizing: border-box;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}
html body .button-small.big {
  font-size: 1em;
}
html body .button-small.active {
  background: #202530;
}
html body .button-small:not(.disabled):hover {
  background: #202530;
  color: #fff;
}
html body .button-small.active:not(.disabled):hover {
  color: #3d4555;
}
html body .button-small.red {
  color: #ff0051;
}
html body .button-small.red:hover {
  color: #ff0051;
}
html body .button-small.disabled {
  color: #3d4555;
  pointer-events: none;
}
html body .tooltip {
  position: absolute;
  padding: 10px;
  background: #333a49;
  border-radius: 5px;
  z-index: 3;
  color: #fff;
  opacity: 0;
  pointer-events: none;
}
html body .tooltip.visible {
  opacity: 1;
  pointer-events: all;
}
html body .tooltip.relative {
  position: relative;
}
html body .input {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: #333a49;
  position: relative;
  cursor: text;
  text-align: left;
  max-width: 375px;
}
html body .input:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #333a49;
  left: 0;
  right: 0;
  transition: background 0.5s;
  pointer-events: none;
}
html body .input.input:before {
  pointer-events: none;
  position: absolute;
  color: #333a49;
  top: 50%;
  transform: translateY(-40%);
  left: 10px;
  transition: top 0.5s, color 0.5s;
}
html body .input.verified,
html body .input.input.name:before {
  content: 'Name';
}
html body .input.input.bug-input:before {
  content: 'Bug';
}
html body .input.input.password:before {
  content: 'Passwort';
}
html body .input input {
  border: 0 transparent none;
  background: transparent;
  height: 50px;
  font-size: 1.2em;
  width: 90%;
  padding-left: 10px;
  color: #fff;
}
html body .input.focus:after {
  background: #ff0051;
}
html body .input.focus .tooltip.visible {
  opacity: 1;
}
html body .input.focus:before,
html body .input.filled:before {
  top: 0;
}
html body .input.focus:before {
  color: #ff0051;
}
html body .input-switch {
  position: relative;
  display: flex;
  justify-content: center;
}
html body .input-switch .text {
  font-size: 0.9em;
}
html body .input-switch .switch {
  width: 25px;
  height: 7.5px;
  display: inline-block;
  position: relative;
  margin: auto 10px;
}
html body .input-switch .switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}
html body .input-switch .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333a49;
  border-radius: 100px;
  transition: background-color 0.5s;
}
html body .input-switch .switch .slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 100px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s;
}
html body .input-switch .switch input[type="checkbox"]:checked + .slider:before {
  left: calc(100% - 10px);
}
html body .input-switch .switch input[type="checkbox"]:checked + .slider {
  background-color: #ff0051;
}
html body .input-checkbox input[type="checkbox"] {
  display: none;
}
html body .input-checkbox input[type="checkbox"]:checked + label i {
  opacity: 1;
}
html body .input-checkbox label {
  position: relative;
  margin-left: calc(0.9em + 10px);
  cursor: pointer;
}
html body .input-checkbox label:before {
  content: '';
  width: 0.9em;
  height: 0.9em;
  border: 2px solid #252c38;
  border-radius: 5px;
  position: absolute;
  left: calc(-0.9em - 10px);
}
html body .input-checkbox label i {
  color: #fff;
  font-size: 0.8em;
  opacity: 0;
  position: absolute;
  left: calc(-0.9em - 10px);
  bottom: 0;
}
html body .input-file input[type="file"] {
  display: none;
}
html body .input-default {
  text-align: left;
  color: #fff;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;
  background: #252c38;
  border-radius: 5px;
}
html body .input-default i {
  margin: 0 15px;
  color: #fff;
}
html body .input-default input {
  background: transparent;
  border: 0;
  padding: 15px 0;
  color: #fff;
  overflow: hidden;
  width: 100%;
}
html body .input-default input::placeholder {
  color: #333a49;
}
html body .copy-field {
  display: grid;
  grid-template-columns: fit-content(100%) auto;
}
html body .copy-field i,
html body .copy-field .input-default {
  display: inline-block;
}
html body .copy-field i.input-default,
html body .copy-field .input-default.input-default {
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
}
html body .copy-field i {
  cursor: pointer;
  padding: 15px 17.5px;
  border-radius: 5px 0 0 5px;
  background: #333a49;
}
html body .bulb {
  display: block;
  height: 7.5px;
  width: 7.5px;
  border-radius: 100%;
}
html body .bulb.red {
  background: #f00;
}
html body .bulb.orange {
  background: #ffa500;
}
html body .bulb.green {
  background: #58af9b;
}
html body .authentication {
  text-align: center;
}
html body .authentication .login {
  text-align: center;
  margin: 17.5vh 0 0 0;
  padding: 50px 90px;
  border-radius: 5px;
  background: #202530;
  display: inline-block;
}
html body .authentication .login .input-switch {
  margin: 40px 0 10px 0;
}
html body .authentication .login .logo {
  height: 7.5vh;
  max-height: 50px;
  min-height: 40px;
}
html body .authentication .login .button {
  margin-top: 40px;
}
html body .authentication .login .tooltip {
  top: 30px;
  right: -7.5%;
}
html body .authentication .login h2 {
  margin-bottom: 40px;
}
html body .authentication .notes {
  bottom: 20px;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
html body .authentication .notes a {
  text-decoration: underline;
  color: #333a49;
  margin: 0 5px;
}
html body .app {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  grid-template-columns: 40% 60%;
}
html body .app._app__search_user {
  display: block;
  text-align: center;
}
html body .app .sidebar {
  background: #161a22;
  position: relative;
  z-index: 4;
  display: inline-grid;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  height: 100%;
  overflow: hidden;
}
html body .app .sidebar .resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  background: #333a49;
  cursor: grab;
}
html body .app .sidebar .profile {
  display: inline-grid;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
  align-items: center;
  margin: 30px calc(20px + 5%) 20px 25px;
}
html body .app .sidebar .profile img.profile-picture {
  height: 7vh;
  border-radius: 100%;
  display: inline-block;
}
html body .app .sidebar .profile .meta {
  display: inline-grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  position: relative;
  margin-left: 20px;
}
html body .app .sidebar .profile .meta .id {
  color: #333a49;
  font-size: 0.9em;
  cursor: pointer;
}
html body .app .sidebar .profile .meta .id:hover {
  text-decoration: underline;
}
html body .app .sidebar .profile .meta .name {
  font-size: 1.2em;
  margin-bottom: 3px;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  align-items: center;
}
html body .app .sidebar .profile .meta .name .name-options {
  position: relative;
}
html body .app .sidebar .profile .meta .name .name-options i.fas.fa-chevron-down {
  transition: transform 0.5s;
  margin-left: 7.5px;
  font-size: 0.8em;
  color: #333a49;
  cursor: pointer;
}
html body .app .sidebar .profile .meta .name .name-options i.fas.fa-chevron-down.rotated {
  transform: rotate(180deg);
}
html body .app .sidebar .profile .meta .name .name-options .tooltip {
  position: absolute;
  top: 1.3em;
  left: 5px;
  padding: 10px 15px;
  opacity: 0;
  transition: opacity 0.5s;
}
html body .app .sidebar .profile .meta .name .name-options .tooltip.visible {
  opacity: 1;
}
html body .app .sidebar .profile .meta .name .name-options .tooltip span {
  font-size: 0.8em;
  cursor: pointer;
  display: block;
  margin: 5px 0;
}
html body .app .sidebar .profile .meta .name .name-options .tooltip span i {
  margin-right: 3px;
}
html body .app .sidebar .profile .meta .name .name-options .tooltip span.red {
  color: #ff0051;
  font-weight: bold;
}
html body .app .sidebar .profile .settings {
  display: inline-block;
  cursor: pointer;
  color: #333a49;
  transition: color 0.5s;
}
html body .app .sidebar .profile .settings:hover {
  color: #fff;
}
html body .app .sidebar .conversations .input-default {
  margin: 20px calc(20px + 5%) 10px 22.5px;
}
html body .app .sidebar .conversations .new-chat {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background: #ff0051;
  padding: 12.5px;
  font-size: 1.4em;
  border-radius: 100%;
  transition: opacity 0.5s;
}
html body .app .sidebar .conversations .new-chat:hover {
  opacity: 0.7;
}
html body .app .sidebar .conversations .chats {
  padding-top: 5px;
  margin: 0 20px;
}
html body .settings {
  color: #f00;
}
html body .new-chat {
  padding: 20px;
  text-align: center;
}
html body .new-chat h1 {
  margin-bottom: 60px;
}
html body .new-chat .open {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  padding: 20px;
  background: #14161d;
}
@media only screen and (max-width: 600px) {
  html body * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  html body .app {
    display: block;
  }
  html body .app .preview-chat {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  html body .app .preview-chat .messages-chat .no-messages video {
    width: 65vw;
    max-width: unset;
  }
  html body .app .preview-chat .header-chat {
    grid-template-columns: fit-content(100%) fit-content(100%) auto;
  }
  html body .app .preview-chat .header-chat .return-button {
    color: #333a49;
    display: inline-block;
    margin-right: 10px;
  }
  html body .app .sidebar {
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
  }
  html body .app .sidebar.invisible {
    pointer-events: none;
    opacity: 0;
  }
  html body .app .sidebar .details {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  html body .app .sidebar .details .settings .profile-picture .picture-box {
    width: 50vw;
    max-width: unset;
  }
  html body .app .sidebar .details .expanded {
    transition: none;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened {
    width: 100%;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened .chats .chat {
    padding: 12.5px 5%;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened .chats .chat:after {
    left: 5%;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened .chats .chat.opened {
    background: transparent;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened .chats .chat.opened .meta .time {
    color: #333a49;
  }
  html body .app .sidebar .details .expanded:not(.dont-expand).opened .chats .chat.opened .message .last-message {
    color: #333a49;
  }
  html body .app .sidebar .icons {
    padding: 0 17.5%;
    display: flex;
    height: auto;
    width: auto;
    max-width: unset;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    grid-template-columns: auto;
    justify-content: space-between;
  }
}
