.bu {
  display: inline-block;
  padding: 10px;
  background: dark-grey;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.3em;
  transition: background 0.3s;
}
.bu:hover {
  background: very-dark-grey;
}
