.button-small {
  padding: 10px 7.5px;
  color: dark-white;
  transition: background 0.5s, color 0.5s;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  display: inline-block;
}
.button-small.big {
  font-size: 1em;
}
.button-small.active {
  background: #808080;
}
.button-small:not(.disabled):hover {
  background: #808080;
  color: #fff;
}
.button-small.active:not(.disabled):hover {
  color: dark-white;
}
.button-small.red {
  color: rose;
}
.button-small.red:hover {
  color: rose;
}
.button-small.disabled {
  color: dark-white;
  pointer-events: none;
}
