.button
  padding 15px 35px
  border-radius 5px
  color white
  display inline-block
  font-weight 500
  letter-spacing 1px
  font-size .9em
  max-width 300px
  background primary
  width 90%
  opacity 1
  box-sizing border-box
  transition opacity .5s, background-color .5s
  cursor pointer

  i
    margin-left 10px
    transition transform .3s
    transform translateX(0)

  &:hover
    opacity .8

    i
      transform translateX(5px)

  &.disabled
    background very-dark-grey
    cursor default
    pointer-events none