.copy-field
  display grid
  grid-template-columns fit-content(100%) auto

  i, .input-default
    display inline-block

    &.input-default
      padding 0 15px
      border-radius 0 5px 5px 0

  i
    cursor pointer
    padding 15px 17.5px
    border-radius 5px 0 0 5px
    background very-dark-grey