.input {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: very-dark-grey;
  position: relative;
  cursor: text;
  text-align: left;
  max-width: 375px;
}
.input:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: very-dark-grey;
  left: 0;
  right: 0;
  transition: background 0.5s;
  pointer-events: none;
}
.input.input:before {
  pointer-events: none;
  position: absolute;
  color: very-dark-grey;
  top: 50%;
  transform: translateY(-40%);
  left: 10px;
  transition: top 0.5s, color 0.5s;
}
.input.input.name:before {
  content: 'Name';
}
.input.input.password:before {
  content: 'Passwort';
}
.input input {
  border: 0 transparent none;
  background: transparent;
  height: 50px;
  font-size: 1.2em;
  width: 90%;
  padding-left: 10px;
  color: opposite;
}
.input.focus:after {
  background: primary;
}
.input.focus .tooltip.visible {
  opacity: 1;
}
.input.focus:before,
.input.filled:before {
  top: 0;
}
.input.focus:before {
  color: primary;
}
