.input-default
  text-align left
  color white
  display grid
  grid-template-columns fit-content(100%) auto
  align-items center
  background dark-grey
  border-radius 5px

  i
    margin 0 15px
    color white

  input
    background transparent
    border 0
    padding 15px 0
    color white
    overflow hidden
    width 100%

    &::placeholder
      color very-dark-grey