.tooltip
  position absolute
  padding 10px
  background very-dark-grey
  border-radius 5px
  z-index 3
  color opposite
  opacity 0
  pointer-events none

  &.visible
    opacity 1
    pointer-events all

  &.relative
    position relative