.tooltip {
  position: absolute;
  padding: 10px;
  background: light-grey;
  border-radius: 3px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  z-index: 3;
  color: opposite;
  opacity: 0;
  pointer-events: none;
}
.tooltip b {
  color: primary;
}
