.login {
  text-align: center;
  margin: 20vh 10vw 0 10vw;
}
.login .input-switch {
  margin: 40px 0 10px 0;
}
.login .logo {
  height: 7.5vh;
  max-height: 60px;
  min-height: 40px;
}
.login .button {
  margin-top: 40px;
}
.login .tooltip {
  top: 30px;
  right: -7.5%;
}
.login h1 {
  margin-bottom: 50px;
}
.login .notes {
  bottom: 20px;
  text-align: center;
  font-size: 0.9em;
  margin-top: 10vh;
}
.login .notes a {
  text-decoration: underline;
  color: very-dark-grey;
  margin: 0 5px;
}
