.authentication
  text-align center

  .login
    text-align center
    margin 17.5vh 0 0 0
    padding 50px 90px
    border-radius 5px
    background grey
    display inline-block

    .input-switch
      margin 40px 0 10px 0

    .logo
      height 7.5vh
      max-height 50px
      min-height 40px

    .button
      margin-top 40px

    .tooltip
      top 30px
      right -7.5%

    h2
      margin-bottom 40px

  .notes
    bottom 20px
    text-align center
    font-size .9em
    position absolute
    left 0
    right 0
    margin 0 auto

    a
      text-decoration underline
      color very-dark-grey
      margin 0 5px