
.authentication
    .login
        img(src="assets/img/electrn.svg").logo
        h2 Authentifizierung
        .inputs
            .input.name
                span.tooltip Mindestens&nbsp;
                    b 3&nbsp;
                    | Zeichen
                input(type="text" spellcheck="false").name-input
            .input.password
                span.tooltip Mindestens&nbsp;
                    b 8&nbsp;
                    | Zeichen
                input(type="password").password-input
            .input-switch
                label.switch
                    input(type="checkbox" checked).stay-signed-in
                    .slider
                span.text Angemeldet bleiben
        a(href="#").create.button.disabled Anmelden

    .notes
        a(href="#").help Hilfe
        a(href="privacy/").privacy Datenschutz