.new-chat
    h1 Start a new conversation

    .search.input-default
        i.fas.fa-user
        input(type="text" placeholder="Please enter the aids ID").search-input

    .users
    .open
        .button.disabled Start via user ID