.app
    .sidebar
        .profile
            img.profile-picture
            .meta
                .name
                    span.name-string
                    .name-options
                        i.fas.fa-chevron-down
                        .tooltip
                            .status
                                span STATUS
                                .bulb.red
                                .bulb.orange
                                .bulb.green
                            span.button-smallest.red.logout
                                i.fas.fa-sign-out-alt
                                | Logout
                .id
            .settings
                i.fas.fa-cog
        .conversations
            .search.input-default
                i.fas.fa-search
                input(type="text" placeholder="Type name to find contact").search-input
            .chats
            .new-chat
                i.fas.fa-plus
        .resizer
    .preview-chat(chatId="" token="")
        .header-chat.hidden
            i.fas.fa-arrow-left.return-button
            img.chat-profile-picture
            span.name.offline
            .select-options
                i.fas.fa-share
                i.fas.fa-feather-alt
                i.fas.fa-trash
                i.fas.fa-info-circle
        .messages-chat
        .new-message.hidden
            i.fas.fa-paperclip
            input(type="file").send-file.hidden
            input(type="text" placeholder="Schreibe hier deine Nachricht..." spellcheck="false").new-message-text
            i.fas.send-button.record
