.button
  background linear-gradient(45deg, primary, purple)
  transition opacity .5s

  &:hover
    opacity .8
    box-shadow 5px 5px 20px 0 rgba(0,0,0,0.3)
    background linear-gradient(45deg, primary, purple)