@media only screen and (max-width 600px)
  *
    user-select none
    -webkit-tap-highlight-color transparent

  .app
    display block

    .preview-chat
      position absolute
      top 0
      bottom 0
      left 0
      right 0

      .messages-chat
        .no-messages
          video
            width 65vw
            max-width unset

      .header-chat
        grid-template-columns fit-content(100%) fit-content(100%) auto

        .return-button
          color very-dark-grey
          display inline-block
          margin-right 10px

    .sidebar
      width auto
      position absolute
      left 0
      bottom 0
      right 0
      height 100%

      &.invisible
        pointer-events none
        opacity 0

      .details
        position absolute
        top 0
        left 0
        bottom 0
        right 0

        .settings
          .profile-picture
            .picture-box
              width 50vw
              max-width unset

        .expanded
          transition none

          &:not(.dont-expand).opened
            width 100%

            .chats
              .chat
                padding 12.5px 5%

                &:after
                  left 5%

                &.opened
                  background transparent

                  .meta
                    .time
                      color very-dark-grey

                  .message
                    .last-message
                      color very-dark-grey

      .icons
        padding 0 17.5%
        display flex
        height auto
        width auto
        max-width unset
        position absolute
        left 0
        bottom 0
        right 0
        text-align center
        grid-template-columns auto
        justify-content space-between
