// COLORS
white = #FFFFFF
dark = #14161D
purple = #5f27cd
dark-purple = #341f97
green = #58AF9B
dark-green = #50A08D
rose = #FF0051
dark-rose = #BA003B
blue = #2D99D6
dark-blue = #335CAE

// SETTINGS
primary = rose
dark-primary = dark-rose
darkMode = true

// DEFINITIONS
gradient = linear-gradient(45deg, dark-primary, primary)

if darkMode
  bg = dark
  opposite = white

  light-grey = #161a22
  grey = #202530
  dark-grey = #252c38
  very-dark-grey = #333a49
  dark-white = #3d4555
else
  bg = white
  opposite = dark

  light-grey = #FBFBF2
  grey = #CFD2CD
  dark-grey = #A6A2A2
  very-dark-grey = #847577
  dark-white = #6e6364