&
  background bg

  body
    .bug
      position absolute
      padding 10px
      background very-dark-grey
      border-radius 100px
      left 15px
      bottom 15px
      z-index 20
      cursor pointer
      transition background-color .5s

      &.active
        background-color primary

      &:hover
        background-color primary

      i
        font-size 1.2em
    h
      color primary
      font-weight bold

    .preload
      position absolute
      z-index 20
      top 0
      left 0
      right 0
      bottom 0
      background bg
      opacity 1
      pointer-events all

      &.transitions
        transition-delay .5s
        transition opacity .5s

      &.invisible
        opacity 0
        pointer-events none

        img
          opacity 0

      img
        position absolute
        width 35%
        top 0
        bottom 5%
        right 0
        left 0
        margin auto
        max-width 100px
        transition opacity .5s
    *.hidden
      display none !important

    input
      outline none

    form
      margin 0
      display inline