body {
  color: opposite;
}
body a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
  color: primary;
}
body a:not(.button):not(.button-small):hover {
  color: dark-primary !important;
}
body h1,
body h2 {
  font-weight: 550;
}
body h1 {
  font-size: 2.2em;
}
body h2 {
  font-size: 1.9em;
}
