&
  font-family "Open Sans", sans-serif

  body
    color opposite

    a
      cursor pointer
      text-decoration none
      transition color .5s
      color primary

      &:not(.button):not(.button-small):hover
        color dark-primary !important

    h1, h2
      font-weight 550

    h1
      font-size 2.2em

    h2
      font-size 1.9em