body h {
  color: primary;
  font-weight: bold;
}
body .preload {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: bg;
  opacity: 1;
  pointer-events: all;
}
body .preload.transitions {
  transition-delay: 0.5s;
  transition: opacity 0.5s;
}
body .preload.invisible {
  opacity: 0;
  pointer-events: none;
}
body .preload.invisible img {
  opacity: 0;
}
body .preload img {
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100px;
  transition: opacity 0.5s;
}
body *.hidden {
  display: none !important;
}
body input {
  outline: none;
}
body form {
  margin: 0;
  display: inline;
}
